@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap");
:root {
  --primary: #ffbd00;
  --secondary: #ff60ce;
  --background: #0b0016;
  --grey: #9b9eac;
  --light: #fff;
  --dark: #0a0a0a;
  --main-font: "Mitr", sans-serif;
  --secondary-font: "Barlow", sans-serif;
  --sidePadding: 5%;
}
* {
  box-sizing: border-box;
  font-family: var(--secondary-font);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--background);
  color: var(--grey);
  width: 100%;
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--sidePadding);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 300;
}
.main-nav.fixed {
  position: fixed;
  background-color: var(--dark);
  animation: showNav 450ms ease-in;
}
@keyframes showNav {
  from {
    transform: translateY(-5em);
  }
  to {
    transform: translateY(0em);
  }
}
.nav-logo {
  height: 5em;
  width: 6em;
  align-items: center;
  padding-top: 1em;
}
.main-nav-elements {
  display: flex;
  margin: 0 0 0 auto;
}
.main-nav-element,
.hover-element {
  list-style: none;
  margin: auto 1em;
  font-weight: 700;
}
.main-nav-element > a {
  color: var(--light);
  text-decoration: none;
  padding: 1em 0;
}
.main-nav-element:first-child > a {
  color: var(--primary);
}
.main-nav-element:hover > a,
.hover-element:hover > a {
  color: var(--secondary);
}
.main-button,
.second-button {
  background-color: var(--primary);
  color: var(--dark);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8em 1.8rem;
  border: 1px solid var(--primary);
  font-size: 1em;
  margin: auto 0;
  transition: background 300ms ease-in, color 300ms ease-in;
}
.main-button:hover,
.second-button {
  background-color: transparent;
  color: var(--primary);
}
.second-button:hover {
  background-color: var(--primary);
  color: var(--dark);
}
.hover-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 2em;
  background-color: var(--light);
  padding: 0;
}
.hover-menu a {
  color: var(--dark);
  padding: 1em 0;
  text-decoration: none;
}

.menu-details {
  position: relative;
}
.menu-details:hover .hover-menu {
  visibility: visible;
}
.hover-element {
  display: flex;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5em var(--sidePadding);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light);
  font-family: var(--main-font);
  margin: 0;
  line-height: 1em;
}
h1 {
  font-size: 5rem;
  width: 8.2ch;
}
h2 {
  font-size: 2.7rem;
  font-weight: 600;
}
.right-detail h2 {
  width: 10ch;
}
.top-div h2 {
  text-transform: uppercase;
}
h3 {
  color: var(--secondary);
  font-size: 2.6rem;
  font-weight: 700;
  font-family: var(--secondary-font);
}
h4 {
  color: var(--secondary);
  font-size: 2rem;
}
h5 {
  font-size: 1.7rem;
  font-family: var(--secondary-font);
}
h6 {
  margin-top: 0.5em;
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--primary);
}
h6:hover {
  color: var(--secondary);
}
h1::first-line {
  color: var(--primary);
}
.schedule-time-content h5 {
  font-weight: 500;
}
#WORKSHOPS h4 {
  color: var(--light);
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 0.6em;
}
a {
  text-decoration: none;
  color: var(--light);
}
p {
  font-size: 1.1em;
}
.right-detail p {
  font-size: 1.3em;
}
#WORKSHOPS p {
  color: var(--grey);
  padding-bottom: 0.1em;
}
.workshop-info a {
  color: purple;
  font-size: 1.1rem;
}
#Home {
  height: 100vh;
  background: url("./images/background..jpg");
  background-size: cover;
  display: flex;
}
#Home::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(11, 0, 22, 0.6) 0%,
    rgba(11, 0, 22, 0.7) 65%,
    rgba(11, 0, 22, 1) 100%
  );
}
#Home > section {
  z-index: 1;
  justify-content: center;
}
#Home .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

#Home .info a {
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
#about {
  flex-direction: row;
  align-items: center;
}
.about-sub {
  width: 50%;
}
.about-sub h2 {
  width: 9ch;
  margin-bottom: 0.5em;
}
.about-countainer {
  display: flex;
  justify-content: space-between;
}
.about-counters {
  margin-top: 0.5em;
}
.about-counters p {
  font-weight: 600;
}
#Speakers .top-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
}
#WORKSHOPS .workshops-top-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}
.speaker {
  margin-top: 2em;
  padding: 0 0.5em;
}
.worshops {
  margin-top: 4em;
  padding: 1 1em;
}
.workshop-info {
  margin-left: 2rem;
  margin-right: 2rem;
}
.speaker-visual{
  position: relative;
  overflow: hidden;
}
.WORKSHOP-IMG {
  position: relative;
  overflow: hidden;
}
.WORKSHOP-IMG {
  margin-bottom: 2rem;
}
.speaker-visual .speaker-socials {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 15%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.speaker-visual .speaker-socials img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  padding: 0.5em;
  background-color: var(--secondary);
}

.speaker-visual .speaker-socials img:hover {
  background-color: var(--primary);
}
.speaker-visual .speaker-socials .speaker-social {
  transform: translateY(5em);
  transition: transform 300ms ease-out;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(2) {
  transition-delay: 100ms;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(3) {
  transition-delay: 200ms;
}
.speaker-visual:hover .speaker-socials .speaker-social {
  transform: translateY(0);
}
.speaker-visual > img{
  transition: transform 300ms ease-out;
}
.WORKSHOP-IMG > img {
  transition: transform 300ms ease-out;
}
.speaker-visual:hover > img {
  transform: scale(1.1);
}
.WORKSHOP-IMG:hover > img {
  transform: scale(1.1);
}
.speaker p {
  margin: 0.5em 0;
  color: var(--light);
}
.workshop-info p {
  margin: 0.5em 0;
  color: var(--light);
}
.speaker p span {
  color: var(--grey);
}
.speakers .owl-nav{
  width: calc(100% + 6em);
  position: absolute;
  display: flex;
  margin: auto -3em;
  justify-content: space-between;
  top: 30%;
}
.workshops .owl-nav {
  width: calc(100% + 6em);
  position: absolute;
  display: flex;
  margin: auto -3em;
  justify-content: space-between;
  top: 30%;
}

.speakers.speakers .owl-nav button{
  font-size: 5em;
}
.workshops.workshops .owl-nav button {
  font-size: 5em;
}
.Details {
  flex-direction: row;
}
.Details img {
  margin-right: 4em;
  width: 55%;
}
.right-detail {
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 2em;
}
.right-detail span {
  font-family: inherit;
  color: var(--primary);
}
#SCHEDULE h2 {
  margin-bottom: 1em;
  text-transform: uppercase;
}
.schedule-table {
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  width: 100%;
  border-radius: 1.2em;
  padding: 2em;
}

.schedule-nav {
  width: 100%;
  display: flex;
  border-bottom: 0.1em solid var(--grey);
  justify-content: center;
}

.schedule-nav a {
  display: flex;
  padding: 1em 0;
  margin: 0 1em;
  font-weight: 650;
  font-size: 1.2rem;
  border-bottom: 0.3em solid transparent;
  transition: color 300ms ease-in, border-bottom-color 300ms ease-in;
}
.schedule-nav a:hover,
.schedule-nav a.active {
  color: var(--primary);
  border-bottom-color: var(--primary);
}
.schedule-content {
  padding: 2em;
}
.schedule-day {
  display: none;
  flex-direction: column;
}
.schedule-day.active {
  display: flex;
  animation: showoff 700ms ease-in;
}
@keyframes showoff{
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.schedule-content-element {
  border-bottom: 0.1em dashed var(--grey);
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
}
.schedule-content-element li {
  list-style: "- ";
  margin-top: 1.2em;
}
#LOCATION {
  margin-top: 5em;
  opacity: 0.5;
  transition: opacity 300ms ease-in;
  width: 100%;
  margin-bottom: 5em;
}
#LOCATION:hover {
  opacity: 1;
}
#SPONSORS {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
  padding: 4em 3em;
  border-radius: 1.2em;
}
#SPONSORS h2 {
  margin-bottom: 1.5em;
}
#SPONSORS div {
  display: flex;
  width: 100%;
}
#SPONSORS div img {
  width: 12%;
  margin: auto;
}
#contact {
  flex-direction: row;
}
.contact-parts {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.contact-parts img {
  width: 6em;
  margin-bottom: 1em;
}
.contact-parts h5 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 1em;
}
.contact-parts a {
  text-decoration: underline;
  color: var(--grey);
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.contact-parts a:hover {
  color: var(--light);
}
.contact-parts a.contact-phone {
  color: var(--primary);
  font-size: 1.5em;
  font-weight: 600;
}
.contact-parts a.contact-phone:hover {
  color: var(--secondary);
}
.contact-parts p {
  margin-top: 0;
}
.input {
  background-color: transparent;
  outline: none;
  border: 0.1em solid var(--primary);
  margin-bottom: 1em;
  font-size: 1.5em;
  padding: 0.5em 1em;
  color: var(--primary);
}
.copyright-Line {
  width: calc(100% - var(--sidePadding));
  margin-bottom: 1em;
}
.copyright {
  margin: auto;
  font-size: 1.1em;
}
footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.mc {
  color: purple;
}
